<div class="devise__register">

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="details field">
    <%= f.label :email, class: "devise__email-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "devise__email-field" %>
  </div>

  <div class="details field">
    <%= f.label :password, class: "devise__password-label" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "devise__password-field" %>
  </div>

  <div class="details field">
    <%= f.label :password_confirmation, class: "devise__password-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "devise__password-field" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "devise__register-btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>