<%= form_with(model: status) do |form| %>
  <% if status.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
        <% status.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form__content">
    <%= form.label :name, style: "display: block", class: "form__content-label" %>
    <%= form.text_field :name, class: "form__content-field" %>
  </div>

  <div class="form__submit">
    <%= form.submit class: "btn-success" %>
  </div>
<% end %>
