<%= render 'layouts/sidebar' %>

<div class="content__details">
  <p style="color: green"><%= notice %></p>
  <%= render @status %>
  <div class="btn">
    <%= link_to "Edit this status", edit_status_path(@status), class: "btn-secondary" %>
    <%= link_to "Back to statuses", statuses_path, class: "btn-back" %>
    <%= button_to "Destroy this status", @status, method: :delete, class: "btn-danger" %>
  </div>
</div>
