<%= render 'layouts/sidebar' %>

<div class="content__details">
  <h1>Editing type</h1>
  <%= turbo_frame_tag "type_#{@type.id}" do %>
    <%= render "form", type: @type %>
  <% end %>
  <br>
  <div>
    <%= link_to "Show this type", @type %> |
    <%= link_to "Back to types", types_path %>
  </div>
</div>
