<%= render 'layouts/sidebar' %>

<div class="content__details">
  <p style="color: green"><%= notice %></p>
  <%= render @type %>
  <div class="btn">
    <%= link_to "Edit this type", edit_type_path(@type), class: "btn-secondary" %> 
    <%= link_to "Back to types", types_path, class: "btn-back" %>
    <%= button_to "Destroy this type", @type, method: :delete, class: "btn-danger" %>
  </div>
</div>
