<div id="<%= dom_id income %>" class="show">
  <p class="show__items">
    <span class="show__title"><strong>Date:</strong></span>
    <span class="show__content"><%= income.date %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Category:</strong></span>
    <span class="show__content"><%= income.category %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Quantity:</strong></span>
    <span class="show__content"><%= income.quantity %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Unit price:</strong></span>
    <span class="show__content"><%= income.unit_price %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Total amount:</strong></span>
    <span class="show__content"><%= income.amount %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Description:</strong></span>
    <span class="show__content"><%= income.description %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Type:</strong></span>
    <span class="show__content"><%= income.flock.batch_no %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Type:</strong></span>
    <span class="show__content"><%= income.type.name %></span>
  </p>

</div>
