<%= turbo_frame_tag "flock_#{@flock.id}" do %>
<div id="<%= dom_id flock %>" class="show">
  <p class="show__items">
    <span class="show__title"><strong>Batch no:</strong></span>
    <span class="show__content"><%= flock.batch_no %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Date in:</strong></span>
    <span class="show__content"><%= flock.date_in.strftime('%d %b %Y') %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Retirement date:</strong></span>
    <span class="show__content"><%= flock.retirement_date.strftime('%d %b %Y') %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Source:</strong></span>
    <span class="show__content"><%= flock.source %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Flock stored:</strong></span>
    <span class="show__content"><%= flock.flock_stored %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Initial stock:</strong></span>
    <span class="show__content"><%= flock.initial_stock %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Died stock:</strong></span>
    <span class="show__content"><%= flock.died_stock %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Age in weeks:</strong></span>
    <span class="show__content"><%= flock.age_in_weeks %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Notes:</strong></span>
    <span class="show__content"><%= flock.notes %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Status:</strong></span>
    <span class="show__content"><%= flock.status %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Type:</strong></span>
    <span class="show__content"><%= flock.type.name %></span>
  </p>
</div>
<% end %>