<%= form_with(model: flock) do |form| %>
  <% if flock.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(flock.errors.count, "error") %> prohibited this flock from being saved:</h2>

      <ul>
        <% flock.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form__content">
    <%= form.label :batch_no, style: "display: block", class: "form__content-label" %>
    <%= form.number_field :batch_no, class: "form__content-field" %>
  </div>

  <div class="form__content">
    <%= form.label :date_in, style: "display: block", class: "form__content-label" %>
    <%= form.datetime_field :date_in, class: "form__content-field" %>
  </div>

  <div class="form__content">
    <%= form.label :retirement_date, style: "display: block", class: "form__content-label" %>
    <%= form.datetime_field :retirement_date, class: "form__content-field" %>
  </div>

  <div class="form__content">
    <%= form.label :source, style: "display: block", class: "form__content-label" %>
    <%= form.text_field :source, class: "form__content-field" %>
  </div>

  <div class="form__content">
    <%= form.label :flock_stored, style: "display: block", class: "form__content-label" %>
    <%= form.text_field :flock_stored, class: "form__content-field" %>
  </div>

  <div class="form__content">
    <%= form.label :initial_stock, style: "display: block", class: "form__content-label" %>
    <%= form.number_field :initial_stock, class: "form__content-field" %>
  </div>

  <div class="form__content">
    <%= form.label :current_stock, style: "display: block", class: "form__content-label" %>
    <%= form.number_field :current_stock, class: "form__content-field" %>
  </div>

  <div class="form__content">
    <%= form.label :age, style: "display: block", class: "form__content-label" %>
    <%= form.number_field :age, class: "form__content-field" %>
  </div>

  <div class="form__content">
    <%= form.label :notes, style: "display: block", class: "form__content-label" %>
    <%= form.text_area :notes, class: "form__content-field" %>
  </div>

  <div class="form__content">
    <%= form.label :status_id, style: "display: block", class: "form__content-label" %>
    <%= form.collection_select :status_id, Status.all, :id, :name, {prompt: true}, class: 'form-control', class: "form__content-field" %>
  </div>

  <div class="form__content">
    <%= form.label :type_id, style: "display: block", class: "form__content-label" %>
    <%= form.collection_select :type_id, Type.all, :id, :name, {prompt: true}, class: 'form-control', class: "form__content-field" %>
  </div>

  <div class="form__submit">
    <%= form.submit class: "btn-success" %>
  </div>
<% end %>
