<div>
  <%= render 'layouts/sidebar' %>

  <div class="content__details">
    <%= turbo_frame_tag "turbo_flock" do %>
      <div class="resource-title">
        <h1>Flocks</h1>
        <div>
          <%= link_to "New flock", new_flock_path, class: "btn-success", data: { turbo_action: "replace" } %>
          <%= link_to "Export Flock", flocks_path(format: :csv), class: "btn-success" %>
        </div>
      </div>
      
    <% end %>

    <div class="table-responsive">
      <table class="table-striped">
        <thead>
          <tr>
            <th class="table-header">Batch no</th>
            <th class="table-header">Date in</th>
            <th class="table-header">Retirement date</th>
            <th class="table-header">Source</th>
            <th class="table-header">Initial stock</th>
            <th class="table-header">Died stock</th>
            <th class="table-header">Sold stock</th>
            <th class="table-header">Current stock</th>
            <th class="table-header">Age in Weeks</th>
            <th class="table-header">Notes</th>
            <th class="table-header">Status</th>
            <th colspan="3" class="table-header"></th>
          </tr>
        </thead>

        <tbody>
          <% @flocks.each do |flock| %>
            <tr class="table-row">
              <td class="table-data"><%= flock.batch.batch_no %></td>
              <td class="table-data"><%= flock.date_in.strftime('%d %b %Y') %></td>
              <td class="table-data"><%= flock.retirement_date.strftime('%d %b %Y') %></td>
              <td class="table-data"><%= flock.source %></td>
              <td class="table-data right"><%= flock.initial_stock %></td>
              <td class="table-data right"><%= flock.died_stock %></td>
              <td class="table-data right"><%= flock.sold_stock %></td>
              <td class="table-data right"><%= flock.current_stock %></td>
              <td class="table-data"><%= flock.age_in_weeks %></td>
              <td class="table-data"><%= flock.notes %></td>
              <td class="table-data"><%= flock.status %></td>
              <td class="table-data"><%= link_to 'Show', flock, class: 'btn-success' %></td>
              <td class="table-data"><%= link_to 'Edit', edit_flock_path(flock), class: 'btn-secondary' %></td>
              <td class="table-data"><%= link_to 'Destroy', flock, data: { turbo_method: "delete", turbo_confirm: 'Are you sure?' }, class: 'btn-danger' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="paginate-bottom">
      <%= paginate @flocks %>
    </div>
  </div>
</div>
