<%= render 'layouts/sidebar' %>

<div class="content__details">
  <p style="color: green"><%= notice %></p>
  <%= render @flock %>
  <div class="btn">
    <%= link_to "Edit this flock", edit_flock_path(@flock), class: "btn-secondary" %> 
    <%= link_to "Back to flocks", flocks_path, class: "btn-back" %> 
    <%= button_to "Destroy this flock", @flock, method: :delete, class: "btn-danger" %>
  </div>
</div>
