

<div id="<%= dom_id fixed_expense %>" class="show">

  <p class="show__items">
    <span class="show__title"><strong>Date:</strong></span>
    <span class="show__content"><%= fixed_expense.date.strftime('%d %b %Y') %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Type of Expense:</strong></span>
    <span class="show__content"><%= fixed_expense.type_of_expense %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Description:</strong></span>
    <span class="show__content"><%= fixed_expense.description %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Cost:</strong></span>
    <span class="show__content"><%= fixed_expense.cost %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Quantity:</strong></span>
    <span class="show__content"><%= fixed_expense.quantity %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Total:</strong></span>
    <span class="show__content"><%= fixed_expense.total %></span>
  </p>
</div>