
<%= render 'layouts/sidebar' %>
<div class="content__details">
  <p style="color: green"><%= notice %></p>
  <%= render @fixed_expense %>
  <div class="btn">
    <%= link_to "Edit this expense", edit_fixed_expense_path(@fixed_expense), class: "btn-secondary" %> |
    <%= link_to "Back to expenses", fixed_expenses_path, class: "btn-back" %>
    <%= button_to "Destroy this expense", @fixed_expense, method: :delete, class: "btn-danger" %>
  </div>
</div>

