<div id="<%= dom_id expense %>" class="show">
  <p class="show__items">
    <span class="show__title"><strong>Batch no.:</strong></span>
    <span class="show__content"><%= expense.batch.batch_no %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Date:</strong></span>
    <span class="show__content"><%= expense.date.strftime('%d %b %Y') %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Category:</strong></span>
    <span class="show__content"><%= expense.category %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Quantity:</strong></span>
    <span class="show__content"><%= expense.quantity %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Unit price:</strong></span>
    <span class="show__content"><%= expense.unit_price %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Total amount:</strong></span>
    <span class="show__content"><%= expense.total %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Description:</strong></span>
    <span class="show__content"><%= expense.description %></span>
  </p>

  <p class="show__items">
    <span class="show__title"><strong>Type:</strong></span>
    <span class="show__content"><%= expense.batch.flock_type %></span>
  </p>

</div>
