<div id="<%= dom_id expense %>">
  <p>
    <strong>Date:</strong>
    <%= expense.date %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= expense.category %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= expense.quantity %>
  </p>

  <p>
    <strong>Unit price:</strong>
    <%= expense.unit_price %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= expense.total_amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= expense.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= expense.type_id %>
  </p>

</div>
