<%= render 'layouts/sidebar' %>

<div class="content__details">

<p style="color: green"><%= notice %></p>
  <div class="resource-title">
    <h1>Expenses</h1>
    <%= link_to "Add Expense", new_expense_path, class: "btn-success" %>
  </div>
  <div class="table-responsive">
    <table class="table-striped">
      <thead>
        <tr>
          <th class="table-header">Date</th>
          <th class="table-header">Category</th>
          <th class="table-header">Quantity</th>
          <th class="table-header">Unit Price</th>
          <th class="table-header">Total Expense</th>
          <th class="table-header">Description</th>
          <th class="table-header">Flock Type</th>
          <th colspan="3" class="table-header"></th>
        </tr>
      </thead>

      <tbody>
        <% @expenses.each do |expense| %>
          <tr class="table-row">
            <td class="table-data"><%= expense.date %></td>
            <td class="table-data"><%= expense.category %></td>
            <td class="table-data"><%= expense.quantity %></td>
            <td class="table-data"><%= expense.unit_price %></td>
            <td class="table-data"><%= number_to_currency(expense.total, :unit => "") %></td>
            <td class="table-data"><%= expense.description %></td>
            <td class="table-data"><%= expense.type.name %></td>
            <td><%= link_to 'Show', expense, class: 'btn-success' %></td>
            <td><%= link_to 'Edit', edit_expense_path(expense), class: 'btn-secondary' %></td>
            <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <strong>Total Expenses</strong> = <%= number_to_currency(@expenses.map(&:total).sum, :unit => "Tshs. ", :delimiter => ",") %>
  </div>

</div>