<% if user_signed_in? %>
<div class="sidebar">
  <div class="sidebar__logo">
    <i class="fa-regular fa-thumbs-up"></i>
    <span class="sidebar__logo-name">
      Flock Control
    </span>
  </div>
  <ul class="sidebar__nav-links">
    <li>
      <%= link_to(dashboard_path, remote: true) do %>
        <i class="fa-solid fa-grip"></i>
        <span class="sidebar__nav-links__list">Dashboard</span>
      <% end %>
    </li>
    <li>
      <%= link_to(flocks_path, remote: true) do %>
        <i class="fa-solid fa-layer-group"></i>
        <span class="sidebar__nav-links__list">Flock</span>
      <% end %>
    </li>
    <li>
      <%= link_to(incomes_path, remote: true) do %>
        <i class="fa-solid fa-wallet"></i>
        <span class="sidebar__nav-links__list">Income</span>
      <% end %>
    </li>
    <li>
      <%= link_to(expenses_path, remote: true) do %>
        <i class="fa-solid fa-cart-shopping"></i>
        <span class="sidebar__nav-links__list">Expense</span>
      <% end %>
    </li>
    <li>
      <%= link_to(batches_path, remote: true) do %>
        <i class="fa-solid fa-toolbox"></i>
        <span class="sidebar__nav-links__list">Batch</span>
      <% end %>
    </li>
    <li>
      <%= link_to(types_path, remote: true) do %>
        <i class="fa-solid fa-toolbox"></i>
        <span class="sidebar__nav-links__list">Type</span>
      <% end %>
    </li>
    <li>
      <%= link_to(report_path, remote: true) do %>
        <i class="fa-solid fa-arrow-trend-up"></i>
        <span class="sidebar__nav-links__list">Report</span>
      <% end %>
    </li>
    <li>
      <%= button_to(destroy_user_session_path, method: :delete, class: 'logout') do %>
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span class="sidebar__nav-links__list">Logout</span>
      <% end %>
    </li>
  </ul>
</div>

<div class="home__section">
  <nav>
    <div class="home__section-content">
      <i class="fa-solid fa-bars sidebarBtn"></i>
      <span class="dashboard">
        <% content_for :title, @title %>
        <span><%= @title %></span>
      </span>
    </div>
    <div class="home__section-profile">
      <%= link_to current_user.email, edit_user_path, class: "home__section-profile__username" %>
    </div>
  </nav>
</div>

<script>
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".sidebarBtn");
  let sidebarNav = document.querySelectorAll(".sidebar__nav-links__list");

  sidebarBtn.onclick = () => {
    sidebar.classList.toggle("active");
    #  for (let i = 0; i < sidebarNav.length; i++) {
    #   if (sidebarNav[i].style.display === "none"){
        
    #     sidebarNav[i].style.display = "block";
    #   } else {
    #     sidebarNav[i].style.display = "none";
    #   } 
    #  }
  }
</script>

<% end %>