<% if user_signed_in? %>
<div class="sidebar">
  <div class="sidebar__logo">
    <i class="fa-regular fa-thumbs-up"></i>
    <span class="sidebar__logo-name">
      Stock Control
    </span>
  </div>
  <ul class="sidebar__nav-links">
    <li>
      <%= link_to(dashboard_path) do %>
        <i class="fa-solid fa-grip"></i>
        Dashboard
      <% end %>
    </li>
    <li>
      <%= link_to(flocks_path) do %>
        <i class="fa-solid fa-layer-group"></i>
        Flock
      <% end %>
    </li>
    <li>
      <%= link_to(incomes_path) do %>
        <i class="fa-solid fa-wallet"></i>
        Income
      <% end %>
    </li>
    <li>
      <%= link_to(expenses_path) do %>
        <i class="fa-solid fa-cart-shopping"></i>
        Expense
      <% end %>
    </li>
     <li>
      <%= link_to(types_path) do %>
        <i class="fa-solid fa-toolbox"></i>
        Type
      <% end %>
    </li>
    <li>
      <%= link_to(statuses_path) do %>
        <i class="fa-solid fa-signal"></i>
        Status 
      <% end %>
    </li>
    <li>
      <%= link_to(dashboard_path) do %>
        <i class="fa-solid fa-arrow-trend-up"></i>
        Report
      <% end %>
    </li>
    <li>
      <%= button_to(destroy_user_session_path, method: :delete, class: 'logout') do %>
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        Logout
      <% end %>
    </li>
  </ul>
</div>

<div class="home__section">
  <nav>
    <div class="home__section-content">
      <i class="fa-solid fa-bars sidebarBtn"></i>
      <span class="dashboard">
        <% content_for :title, @title %>
        <span><%= @title %></span>
      </span>
    </div>
    <div class="home__section-profile">
      <%= link_to current_user.email, edit_user_registration_path, class: "home__section-profile__username" %>
    </div>
  </nav>
</div>

<script>
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".sidebarBtn");

  sidebarBtn.onclick = () => {
    sidebar.classList.toggle("active");
  }
</script>

<% end %>