<div class="dashboard__content">
<h2>General Summary</h2>
  <div class="dashboard__content-boxes">
    <div class="box">
      <div class="left-side">
        <div class="box-topic box-topic-profit">Total Flocks</div>
        <div class="number"><%= @flocks.map(&:current_stock).sum %></div>
      </div>
    </div>

    <div class="box">
      <div class="left-side">
        <div class="box-topic box-topic-profit">Income</div>
        <div class="number"><%= number_to_currency(@incomes.map(&:amount).sum, :unit => "Tshs. ", :delimiter => ",") %></div>
      </div>
    </div>

    <div class="box">
      <div class="left-side">
        <div class="box-topic box-topic-profit">General Expenses</div>
        <div class="number"><%= number_to_currency(@expenses.map(&:total).sum, :unit => "Tshs. ", :delimiter => ",") %></div>
      </div>
    </div>


    <div class="box">
      <div class="left-side">
        <div class="box-topic box-topic-loss">Losses</div>
        <div class="number">
          <span class="text-center p-3">
            <% if @incomes.map(&:amount).sum < @expenses.map(&:total).sum %>
              <span class="text-danger">
                <strong><%= number_to_currency(@expenses.map(&:total).sum - @incomes.map(&:amount).sum, :unit => "Tshs. ")  %><strong>
              </span>
            <% else %>
              <span class="text-success"><strong>0</strong></span>
            <% end %>
          </span>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="left-side">
        <div class="box-topic box-topic-profit">Profits</div>
        <div class="number">
          <span class="text-center p-3">
            <% if @incomes.map(&:amount).sum > @expenses.map(&:total).sum %>
              <span class="text-success">
                <strong><%= number_to_currency(@incomes.map(&:amount).sum - @expenses.map(&:total).sum, :unit => "Tshs. ") %><strong>
              </span>
            <% else %>
              <span class="text-danger"><strong> 0</strong></span>
            <% end %>
          </span>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="left-side">
        <div class="box-topic box-topic-profit">Fixed Expenses</div>
        <div class="number"><%= number_to_currency(@fixed_expenses.map(&:total).sum, :unit => "Tshs. ", :delimiter => ",") %></div>
      </div>
    </div>

  </div>
</div>